<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.0-SNAPSHOT" package="com.aintshy.android">
    <uses-sdk android:minSdkVersion="12" android:targetSdkVersion="20"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:allowBackup="false" android:debuggable="false" android:icon="@drawable/ico" android:label="aintshy" android:name=".App">
        <activity android:label="aintshy" android:name=".ui.EntranceActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.android.ApplicationName"/>
            </intent-filter>
        </activity>
        <activity android:label="talk" android:name=".ui.talk.TalkActivity" android:noHistory="true"/>
        <activity android:label="history" android:name=".ui.history.HistoryActivity" android:noHistory="true"/>
        <activity android:label="empty" android:name=".ui.talk.EmptyActivity" android:noHistory="true"/>
        <activity android:label="confirm" android:name=".ui.login.ConfirmActivity" android:noHistory="true"/>
        <activity android:label="login" android:name=".ui.login.LoginActivity" android:noHistory="true"/>
        <activity android:label="details" android:name=".ui.login.DetailsActivity" android:noHistory="true"/>
    </application>
</manifest>
