<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
    package="com.aintshy.android"
    a:versionCode="1"
    a:versionName="1.0" >
    <uses-sdk a:minSdkVersion="5" a:targetSdkVersion="20" />
    <application a:label="aintshy" a:icon="@drawable/ico" a:allowBackup="false">
        <activity a:name=".TalkActivity" a:label="aintshy" >
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
